---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../FormattedDate.astro";
interface Props {
  content: CollectionEntry<"post">;
}

const {
  content: { data, render },
} = Astro.props;

const { remarkPluginFrontmatter } = await render();

const dateTimeOptions: Intl.DateTimeFormatOptions = {
  month: "long",
};
---

{
  data.coverImage && (
    <div class="aspect-h-9 aspect-w-16 mb-6">
      <Image
        src={data.coverImage.src}
        alt={data.coverImage.alt}
        class="object-cover"
        loading="eager"
        fetchpriority="high"
      />
    </div>
  )
}
{data.draft ? <span class="absolute -mt-6 text-base text-red-500">(Draft)</span> : null}
<h1 class="title mb-3 sm:mb-1">
  {data.title}
</h1>
{
  data.description ? (
    <p class="mb-10 mt-2 text-base font-light text-gray-500">{data.description}</p>
  ) : (
    <div class="sm:h-4" />
  )
}

<div class="flex flex-wrap items-center gap-x-3 gap-y-2">
  <p class="font-semibold">
    <FormattedDate date={data.publishedAt} dateTimeOptions={dateTimeOptions} />
  </p>
  <p>
    {remarkPluginFrontmatter.minutesRead}
  </p>
</div>
<div class="text-2xs flex flex-wrap items-center gap-x-3 gap-y-2">
  {
    data.updatedAt != undefined && (
      <>
        <span class="mt-0.5 rounded-lg bg-quote/10 px-1.5 text-quote">
          Last Updated:
          <FormattedDate class="ms-1" date={data.updatedAt} dateTimeOptions={dateTimeOptions} />
        </span>
      </>
    )
  }
</div>
{
  !!data.tags?.length && (
    <div class="mt-3 flex items-center space-x-2">
      <ul class="flex flex-wrap gap-2 text-xs leading-normal">
        <li>Tagged with</li>
        {data.tags.map((tag) => (
          <li>
            <a
              class="cactus-link opacity-70"
              href={`/tags/${tag}/`}
              aria-label={`View more blogs with the tag ${tag}`}
              data-pagefind-filter="tag"
            >
              {tag}
            </a>
          </li>
        ))}
      </ul>
    </div>
  )
}
